= form_for @photo do |f|
  - if @photo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@photo.errors.count, "error")} prohibited this photo from being saved:"
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li= msg

  .pure-form.pure-form-aligned
    .pure-control-group
      = f.label :url
      = f.text_field :url, class: 'pure-input-2-3'
    .pure-control-group
      = f.label :category, "Категория"
      = f.select :category, Photo::CATEGORIES
    .pure-controls 
      = button_tag type: 'submit', class: 'pure-button pure-button-primary' do 
        %i.fa.fa-check-square-o
        Сохранить
  %hr
