%section.admin-section
  %h1 Все фото
  
  %table.pure-table
    %thead
      %tr
        %th №
        %th URL
        %th Категория
        %th
        %th
        %th
        
    %tbody
      - @photos.each do |photo|
        %tr.pure-table-odd
          %td= photo.id
          %td= photo.url
          %td= photo.category
          %td
            = link_to photo.url, data: {colorbox: "true", colorbox_max_height:"90%"},class: 'pure-button button-xsmall' do
              Показать

          %td= link_to 'Изменить', edit_photo_path(photo), class: 'pure-button button-xsmall'
          %td= link_to 'Удалить', photo, :method => :delete, :data => { :confirm => 'Уверен?' }, class: 'pure-button button-xsmall'

  %br
  
  = link_to 'Добавить фото', new_photo_path, class: 'pure-button'