- @body_class = 'bg-yellow'
.admin-section
  %strong#notice= notice
  
  %h1 Добавление нескольких фото в одну категорию
  %p
    Тут можно добавить сразу несколько фотографий в одну категорию. Максимум - 10, по количеству полей. Минимум - любое желаемое число: 1, 3, 8. Не забудь выбрать категорию справа.
    %br
    %strong URL должен быть вида: http://cs406424.vk.me/v406424803/1913/ge7uPoxR7FQ.jpg
  %hr
  = form_tag create_multiple_photos_path do
    - if @photos.errors.any?
      #error_explanation
        %h2= "#{pluralize(@photos.errors.count, "error")} prohibited this photo from being saved:"
        %ul
          - @photos.errors.full_messages.each do |msg|
            %li= msg
    .pure-form.pure-form-aligned
      .pure-u-12-24
        - 10.times do   
          .pure-control-group 
            = text_field_tag "photos[][url]", nil, id: "photos__url_#{@counter}", placeholder: "URL", size: "60vh"
          -@counter= @counter+1
      .pure-u-10-24
        .pure-control-group
          = label_tag :category, "Категория:" 

          = select_tag :category, options_for_select(Photo::CATEGORIES)
          
      .pure-u-1
        .pure-controls
          = button_tag type: 'submit', class: 'pure-button' do 
            %i.fa.fa-check-square-o
            %strong Сохранить
  %hr
  %br          
  = link_to "<i class='fa fa-arrow-left'></i> К списку всех фото".html_safe, photos_path,   class: 'pure-button'
